* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: #fff;
}

.container {
    width: 100%;
    max-width: 1200px;
    /* border: 2px solid red; */
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
}

.content {
    border: 2px solid rgb(5, 1, 1);
    padding: 15px;
    margin-bottom: 20px;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    margin: 50px 0;
}

.exercise_text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #002;
    margin-bottom: 5px;
    text-align: justify;
}

.img1 {
    width: 100%;
    max-width: 300px;
    height: 180px;
    /* border: 2px solid green; */
    margin: 0 0 40px 80px;
    padding: 0;
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.math_label {
    display: block;
    color: #002;
    font-size: 20px;
    margin-left: 75px;
}

.input_nums {
    display: inline-block;
    width: 100%;
    max-width: 230px;
    height: 30px;
    padding: 10px;
    outline: none;
    margin-bottom: 20px;
    font-size: 18px;
    border: 2px solid rgba(0, 0, 17, 0.528);
    border-radius: 5px;
    text-align: center;
    /* margin-left: 20px; */
}

.input_nums:focus {
    background: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
}

.btn {
    width: 100%;
    max-width: 230px;
    height: 30px;
    margin-bottom: 30px;
    margin-left: 108px;
    font-size: 18px;
    letter-spacing: .2rem;
    font-weight: 600;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    transition: all .3s ease-in;
}

.btn:hover {
    border: none;
    background: #000;
    color: #ffffff;
}

.btn:active {
    border: none;
    background: darkcyan;
    color: #ffffff;
}

.result {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #002;
    margin-bottom: 5px;
    text-align: justify;
    margin-left: 10px;
}

strong {
    padding: 5px 8px;
    font-size: 18px;
    border-radius: 5px;
    color: green;
    margin-left: 10px;
}


/*-- Content 2 --*/

.second_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 2px solid red; */
}

table,
th,
tr,
td {
    border: 1.3px solid #003;
}

th {
    color: rgb(14, 151, 176);
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
}

th:last-child {
    color: red;
}

td:first-child,
th:first-child {
    font-style: italic;
    background-color: rgb(247, 247, 247);
}

.blog_table {
    width: 300px;
    height: 300px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    border-collapse: collapse;
    margin-top: 20px;
}

.img2 {
    /* width: 100%; */
    max-width: 380px;
    height: 80px;
    /* border: 2px solid green; */
    margin: 20px 0 20px 80px;
    padding: 0;
}

.blog_input {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    margin-left: 60px;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    max-width: 300px;
    padding: 10px;
}

.bool_label {
    color: #002;
    font-size: 20px;
    margin-left: 20px;
}

.bool_input {
    width: 100%;
    max-width: 70px;
    margin: 10px 0 10px 10px;
    height: 30px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1.5px solid rgba(0, 0, 17, 0.528);
    border-radius: 5px;
    text-align: center;
}

.bool_input:focus {
    background: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
}

.td_backcolor {
    background-color: rgb(202, 202, 202);
    color: red;
}


/* --Mobile Display-- */

@media screen and (max-width: 550px) {
    h1 {
        font-size: 20px;
    }
    .img1 {
        margin-left: 15px;
    }
    .content {
        width: 100%;
    }
    img {
        width: 60%;
        height: 80%;
    }
    p {
        font-size: 16px;
    }
    strong {
        font-size: 14px;
        line-height: 1.9rem;
    }
}

@media screen and (max-width: 460px) {
    h1 {
        font-size: 18px;
    }
    .img1 {
        margin-left: 12px;
    }
    .content {
        width: 100%;
    }
    .input_nums {
        width: 50%;
    }
    .btn {
        padding: 20px 0;
        width: 37%;
        height: 30px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: .2rem;
        font-weight: 600;
        border-radius: 5px;
        background: #fff;
        cursor: pointer;
        transition: all .3s ease-in;
    }
    .blog_input {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .blog {
        width: 80%;
        display: flex;
        justify-content: center;
    }
    img {
        width: 70%;
        height: 60%;
    }
    p {
        font-size: 15px;
    }
    strong {
        font-size: 14px;
        line-height: 1.3rem;
    }
}

@media screen and (max-width: 406px) {
    h1 {
        font-size: 17px;
        margin-bottom: 10px;
    }
    .blog_input {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img {
        width: 60%;
        height: 30%;
    }
    p {
        font-size: 14px;
    }
    strong {
        font-size: 14px;
        line-height: 1.9rem;
    }
    .btn {
        width: 35%;
        padding: 20px 40px;
    }
    .table {
        margin-top: 0;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}